{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
    </div>
    
    
    <div class="signup-footer">
        <a class="signup-footer-link" href="#">Help Centre</a> <span style="color: #fff;">·</span>
        <a class="signup-footer-link" href="#">Terms</a> <span style="color: #fff;">·</span>
        <a class="signup-footer-link" href="#">Privacy Policy</a> <span style="color: #fff;">·</span>
        <a class="signup-footer-link" href="#">Advert</a> <span style="color: #fff;">·</span>
        <a class="signup-footer-link" href="#">Cookies</a> <span style="color: #fff;">·</span>
        <a class="signup-footer-link" href="#">Feedback</a>
    </div>
</div>

 
{% endblock %}